---
import MainLayout from "src/layouts/MainLayout.astro";
---

<MainLayout>
  <main>
    <h1>
      404 ERROR?! No lol just kidding. I just haven't completed this page yet!
    </h1>

    <a href='/'>Go back home nerd!</a>
  </main>
</MainLayout>
