---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import test from "@assets/01-01-concussion.webp";
---

<MainLayout>
  <Header />
  <a href='/comic-pages/comic-1'>Comic #1</a>
  <a href='/comic-pages/comic-2'>Comic #2</a>
</MainLayout>
