---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Header from "../components/Header.astro";
import Comic from "../components/Comic.astro";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Poco Comics</title>
  </head>
  <body>
    <Navbar />
    <Header />
    <Comic />
    <h3>Blog Area</h3>
    <footer>This is the footer</footer>
  </body>
</html>
