---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Poco Comics</title>
  </head>
  <body>
    <Navbar />
    <h2>Comic Area</h2>
    <img src='https://unsplash.it/640/425?random' alt='placeholder image' />
    <h3>Blog Area</h3>
    <footer>This is the footer</footer>
  </body>
</html>
