---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout>
  <Header />
  <div class='wrapper'>
    <h2>~ The Comics! 🙌🏻 ~</h2>
    <a href='/comic-pages/comic-1'>Comic #1: Concussion</a>
    <a href='/comic-pages/comic-2'>Comic #2: Cookies</a>
    <a class='new' href='/comic-pages/filler-1'
      >Filler Comic #1: Convenantal Contract
    </a><span class='new'>NEW COMIC!!</span>
  </div>
</MainLayout>

<style lang='scss'>
  .wrapper {
    margin-block: 2rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .new {
    display: block;
    color: rgb(7, 225, 0);
    font-size: larger;
    font-weight: 600;
    transition: all 50ms infinite;
    transform: rotate(6deg);
    transform: translateZ(0px);
    animation-duration: 1s;
    animation-name: wiggle;
    animation-play-state: running;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes wiggle {
    2% {
      transform: translateX(3px) rotate(2deg);
    }
    4% {
      transform: translateX(-3px) rotate(-2deg);
    }
    6% {
      transform: translateX(3px) rotate(2deg);
    }
    8% {
      transform: translateX(-3px) rotate(-2deg);
    }
    10% {
      transform: translateX(2px) rotate(1deg);
    }
    12% {
      transform: translateX(-2px) rotate(-1deg);
    }
    14% {
      transform: translateX(2px) rotate(1deg);
    }
    16% {
      transform: translateX(-2px) rotate(-1deg);
    }
    18% {
      transform: translateX(1px) rotate(0deg);
    }
    20% {
      transform: translateX(-1px) rotate(0deg);
    }
  }
</style>
