---
import comic from "../content/comics/01-01-concussion.webp";
---

<script>
  document.addEventListener("scroll", handleScroll)!;
  var scrollToTopBtn = document.querySelector(".scrollToTopBtn")!;

  function handleScroll() {
    var scrollableHeight =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    var GOLDEN_RATIO = 0.05;

    if (document.documentElement.scrollTop / scrollableHeight > GOLDEN_RATIO) {
      //show button
      if (!scrollToTopBtn.classList.contains("showScrollBtn"))
        scrollToTopBtn.classList.add("showScrollBtn");
    } else {
      //hide button
      if (scrollToTopBtn.classList.contains("showScrollBtn"))
        scrollToTopBtn.classList.remove("showScrollBtn");
    }
  }

  scrollToTopBtn.addEventListener("click", scrollToTop);

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
</script>

<div class='comic-container'>
  <section class='top-section'>
    <button
      onclick="document.getElementById('blog').scrollIntoView();"
      class='blog-button'
      ><i class='fa-solid fa-arrow-down'></i>
    </button>
    <div class='comic-info-container'>
      <p>Published: 01-17-2023</p>
      <strong class='comic-title'>Comic #01-</strong>
      <span class='comic-description'>
        “Blah Emporium 2.0 Blah Blah Emporium 2.0 Blah Blah Emporium 2.0. ”
      </span>
    </div>
  </section>
  <img
    class='the-comic'
    src={comic}
    alt='the first comic about poco getting a concussion'
  />
  <button class='scrollToTopBtn'><i class='fa-solid fa-arrow-up'></i></button>
</div>

<style lang='scss'>
  .comic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .the-comic {
    margin: auto;
  }

  .top-section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3rem;
    width: 31.25rem;
  }

  .comic-info-container {
    margin: 1.75rem 0;
    padding-right: 50px;
  }

  .comic-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .comic-description {
    font-size: 1.25rem;
    line-height: 0;
  }

  .blog-button {
    cursor: pointer;
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: medium;
    transition: all 100ms ease-out;
    &:hover {
      transform: rotate(8deg);
    }
    &:active {
      background-color: #0099ff;
    }
  }

  .scrollToTopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: rgb(68, 68, 68);
    color: #fff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: medium;

    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 100ms, opacity 0.3s;
    &:hover {
      transform: rotate(8deg);
    }
    &:active {
      background-color: #0099ff;
    }
  }

  .showScrollBtn {
    transform: translateY(0);
    opacity: 1;
  }

  @media (max-width: 50em) {
    .top-section {
      display: flex;
      justify-content: space-between;
      margin-top: 3rem;
      width: 355px;
    }

    .the-comic {
      width: 355px;
    }

    .comic-info-container {
      padding-right: 0;
    }

    .blog-button {
      width: 2.75rem;
      height: 2.75rem;
    }

    .scrollToTopBtn {
      width: 3rem;
      height: 3rem;
      bottom: 20px;
      right: 30px;
    }
  }
</style>
