---
import comic from "../content/comics/01-01-concussion.webp";
---

<script>
  document.addEventListener("scroll", handleScroll)!;
  // get a reference to our predefined button
  var scrollToTopBtn = document.querySelector(".scrollToTopBtn")!;

  function handleScroll() {
    var scrollableHeight =
      document.documentElement.scrollHeight -
      document.documentElement.clientHeight;
    var GOLDEN_RATIO = 0.1;

    if (document.documentElement.scrollTop / scrollableHeight > GOLDEN_RATIO) {
      //show button
      if (!scrollToTopBtn.classList.contains("showScrollBtn"))
        scrollToTopBtn.classList.add("showScrollBtn");
    } else {
      //hide button
      if (scrollToTopBtn.classList.contains("showScrollBtn"))
        scrollToTopBtn.classList.remove("showScrollBtn");
    }
  }

  scrollToTopBtn.addEventListener("click", scrollToTop);

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  }
</script>

<div class='comic-container'>
  <section class='top-section'>
    <div class='comic-info-container'>
      <p>Published: 01-17-2023</p>
      <strong class='comic-title'>Comic #01-</strong>
      <span class='comic-description'>
        “Blah Blah Emporium 2.0 Blah Blah Emporium 2.0 Blah Blah Emporium 2.0. ”
      </span>
    </div>
    <button
      onclick="document.getElementById('blog').scrollIntoView();"
      class='blog-button'
      ><i class='fa-solid fa-arrow-down'></i>
    </button>
  </section>
  <img
    class='the-comic'
    src={comic}
    alt='the first comic about poco getting a concussion'
  />
  <button class='scrollToTopBtn'><i class='fa-solid fa-arrow-up'></i></button>
</div>

<style lang='scss'>
  .the-comic {
    margin: auto;
  }

  .top-section {
    width: 500px;
    display: flex;
    margin: auto;
    margin-top: 3rem;
  }

  .comic-info-container {
    height: auto;
    margin: auto;
    margin-bottom: 1.5rem;
  }

  .comic-title {
    font-size: 2rem;
    font-weight: 700;
  }

  .comic-description {
    font-size: 1.25rem;
    line-height: 0;
  }

  .blog-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.75rem;
    height: 3.5rem;
    background: #ffffff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: medium;
    transition: all 100ms ease-out;
    &:hover {
      transform: rotate(8deg);
    }
    &:active {
      background-color: #0099ff;
    }
  }

  .scrollToTopBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: rgb(68, 68, 68);
    color: #fff;
    border: 1px solid #000000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    font-size: medium;

    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 50px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 100ms, opacity 0.3s;
    &:hover {
      transform: rotate(8deg);
    }
    &:active {
      background-color: #0099ff;
    }
  }

  .showScrollBtn {
    transform: translateY(0);
    opacity: 1;
  }
</style>
