---
const today = new Date();
---

<footer id='footer'>
  <a href='/'><img class='logo' src='/poco-logo.png' alt='poco logo' /></a>
  &copy; {today.getFullYear()} Copyright Alex Wilkins. All rights reserved.
</footer>

<style lang='scss'>
  footer {
    left: 0px;
    bottom: 0px;
    overflow: hidden;
    font-size: medium;
    color: #fff;
    background-color: #222;
    padding: 1.5em;
    text-align: center;
  }

  .logo {
    height: 5rem;
    margin-inline: auto;
  }
</style>
