<header id='header'>
  <h2>WELCOME!</h2>
  <p>
    If you're new here, check out <a href='/poco-wiki'>this cool link!?</a>
  </p>
</header>

<style lang='scss'>
  header {
    text-align: center;
    padding-top: 2rem;
  }

  h2 {
    font-weight: bold;
    font-size: 3rem;
  }

  p {
    font-size: 1.125rem;
    font-weight: 500;
  }

  a {
    display: inline-block;
    color: #0099ff;
    transition: all 50ms linear;
    &:hover {
      transform: rotate(8deg);
    }
  }
</style>
