<section id='header'>
  <h2>WELCOME!</h2>
  <p class='under-construction'>
    Currently, Poco Comics is <br />
    <strong>under construction.</strong> 🚧
    <br />
    <p class='message'>
      However, below are the the latest posted comics. You can also find all
      comics for <a
        href='https://www.webtoons.com/en/challenge/poco-comics/list?title_no=838931'
      >
        Episode 1 on Webtoons.
      </a>
    </p>
    <br />
    <p>
      One of these days I'll have a <a href='/poco-wiki'>Poco Wiki!?</a>
    </p>
  </p>

  <style lang='scss'>
    section {
      text-align: center;
      padding-top: 2rem;
      .message {
        padding-inline: 20px;
      }
    }

    h2 {
      font-weight: bold;
      font-size: 3rem;
    }

    .under-construction {
      color: red;
      font-weight: bold;
      font-size: 1.125rem;
    }

    a {
      display: inline-block;
      color: #0099ff;
      transition: all 50ms linear;
      &:hover {
        transform: rotate(8deg);
      }
    }
  </style>
</section>
